<footer class="site-footer">
				<div id="footer-rule"></div>
					<ul id="social-media">
						<li><img src="{{ post.url | prepend:site.baseurl }}/images/FB_portfolio.png" alt="Facebook" /></li>
						<li><img src="{{ post.url | prepend:site.baseurl }}/images/Twitter_portfolio.png" alt="Twitter" /></li>
						<li><img src="{{ post.url | prepend:site.baseurl }}/images/Instagram_portfolio.png" alt="Instagram" /></li>
						<li><img src="{{ post.url | prepend:site.baseurl }}/images/Dribbble_portfolio.png" alt="Dribbble" /></li>
						<li><img src="{{ post.url | prepend:site.baseurl }}/images/Vimeo_portfolio.png" alt="Vimeo" /></li>
					</ul>
			</footer>
